{% block sw_rating_detail %}
    <sw-page class="sw-rating-detail">

        {% block sw_rating_detail_header %}
            <template slot="smart-bar-header">
                <h2>{{ placeholder(rating, 'title', $tc('sw-rating.detail.textHeadline')) }}</h2>
            </template>
        {% endblock %}

        {% block sw_rating_detail_actions %}
            <template slot="smart-bar-actions">

                {% block sw_rating_detail_actions_abort %}
                    <sw-button :disabled="isLoading" :routerLink="{ name: 'sw.rating.index' }">
                        {{ $tc('sw-rating.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_rating_detail_actions_save %}
                    <sw-button class="sw-rating-detail__save-action" variant="primary" :disabled="isLoading"
                            @click="onSave">
                        {{ $tc('sw-rating.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}

            </template>
        {% endblock %}

        {% block sw_rating_detail_content %}
            <sw-card-view slot="content">

                {% block sw_rating_detail_basic_info_card %}
                    <sw-card
                            v-if="rating"
                            :title="$tc('sw-rating.detail.cardTitleRatingInfo')"
                            :isLoading="isLoading">
                        {% block sw_rating_detail_basic_info_card_description_list %}
                            <sw-description-list grid="1fr 2fr 1fr 2fr">
                                {% block sw_rating_detail_description_list_title %}
                                    <dt>{{ $tc('sw-rating.detail.labelTitle') }}</dt>
                                    <dd>{{ rating.title }}</dd>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_points %}
                                    <dt>{{ $tc('sw-rating.detail.labelPoints') }}</dt>
                                    <dd>{{ rating.points }}</dd>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_created_at %}
                                    <dt>{{ $tc('sw-rating.detail.labelCreatedAt') }}</dt>
                                    <dd>{{ rating.createdAt | date }}</dd>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_product %}
                                    <template v-if="product">
                                        <dt>{{ $tc('sw-rating.detail.labelProduct') }}</dt>
                                        <dd>
                                            <router-link :to="{ name: 'sw.product.detail', params: { id: product.id } }">
                                                {{ product.name }}
                                            </router-link>
                                        </dd>
                                    </template>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_sales_channel %}
                                    <template v-if="rating.sales_channel">
                                        <dt>{{ $tc('sw-rating.detail.labelSalesChannel') }}</dt>
                                        <dd>{{ rating.sales_channel.name }}</dd>
                                    </template>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_user %}
                                    <dt>{{ $tc('sw-rating.detail.labelUser') }}</dt>
                                    <template v-if="rating.customer">
                                        <dd>
                                            <router-link :to="{ name: 'sw.customer.detail', params: { id: rating.customer.id } }">
                                                {{ rating.customer.firstName }}
                                            </router-link>
                                        </dd>
                                    </template>
                                    <template v-else>
                                        <dd>{{ rating.externalUser }}</dd>
                                    </template>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_email %}
                                    <template v-if="rating.externalEmail">
                                        <dt>{{ $tc('sw-rating.detail.labelEmail') }}</dt>
                                        <dd>{{ rating.externalEmail }}</dd>
                                    </template>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_language %}
                                    <template v-if="rating.language">
                                        <dt>{{ $tc('sw-rating.detail.labelLanguage') }}</dt>
                                        <dd>{{ rating.language.name }}</dd>
                                    </template>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_positive %}
                                    <dt>{{ $tc('sw-rating.detail.labelPositive') }}</dt>
                                    <dd>{{ rating.positive || '0' }}</dd>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_negative %}
                                    <dt>{{ $tc('sw-rating.detail.labelNegative') }}</dt>
                                    <dd>{{ rating.negative || '0' }}</dd>
                                {% endblock %}

                                {% block sw_rating_detail_description_list_status %}
                                    <dt>{{ $tc('sw-rating.detail.labelStatus') }}</dt>
                                    <template v-if="rating.status">
                                        <dd><sw-icon name="default-basic-checkmark-line" color="green"></sw-icon></dd>
                                    </template>
                                    <template v-else>
                                        <dd><sw-icon name="default-basic-x-line" color="red"></sw-icon></dd>
                                    </template>
                                {% endblock %}
                            </sw-description-list>
                        {% endblock %}

                        {% block sw_rating_detail_basic_info_card_content %}
                            <label class="sw-rating-detail__label-content"
                                   for="content">
                                {{ $tc('sw-rating.detail.labelContent') }}
                            </label>
                            <sw-textarea-field
                                    class="sw-rating-detail__content"
                                    id="content"
                                    v-model="rating.content"
                                    readonly>
                            </sw-textarea-field>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block sw_rating_detail_comment_card %}
                    <sw-card :title="$tc('sw-rating.detail.titleCardComment')" :isLoading="isLoading">
                        {% block sw_rating_detail_comment_card_status %}
                            <sw-switch-field
                                :label="$tc('sw-rating.detail.labelStatus')"
                                v-model="rating.status">
                            </sw-switch-field>
                        {% endblock %}
                        {% block sw_rating_detail_comment_card_comment %}
                            <sw-text-editor
                                    :label="$tc('sw-rating.detail.labelComment')"
                                    v-model="rating.comment">
                            </sw-text-editor>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}