{% block page_product_detail_rating_formular_container %}
    <h2>Write a rating</h2>



    <div class="card login-card">
        <div class="card-body">
            {% block page_product_detail_rating_formular_container_header %}
                <h2 class="card-title">
                    {{ "account.loginHeader"|trans }} Test
                </h2>
            {% endblock %}

            {% block page_product_detail_rating_formular %}
                <form class="login-form"
                      action="{{ path('frontend.detail.rating.save', { productId: page.product.id }) }}"
                      method="post">

                    {% block page_product_detail_rating_description %}
                        <p class="login-form-description">Test2
                            {{ "account.loginFormDescription"|trans }}
                        </p>
                    {% endblock %}

                    {% if ratingActionError %}
                        <div class="alert alert-danger">
                            {{ "account.loginBadCredentials"|trans }}
                        </div>
                    {% endif %}

                    {% block page_product_detail_rating_formular_name %}
                        <div class="form-group">
                            {% block page_product_detail_rating_formular_name_label %}
                                <label class="form-label" for="loginMail">
                                    {{ "account.loginMailLabel"|trans }} Test
                                </label>
                            {% endblock %}

                            {% block page_product_detail_rating_formular_name_inpuit %}
                                <input type="text"
                                       class="form-control"
                                       id="loginMail"
                                       placeholder="Name"
                                       name="name"
                                       required="required">
                                {% for error in formViolations.getViolations('/name') %}
                                    <h1>{{ error.message }}</h1>
                                {% endfor %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block page_product_detail_rating_formular_mail %}
                        <div class="form-group">
                            {% block page_product_detail_rating_formular_mail_label %}
                                <label class="form-label" for="loginMail">
                                    {{ "account.loginMailLabel"|trans }} Test
                                </label>
                            {% endblock %}

                            {% block page_product_detail_rating_formular_mail_input %}
                                <input type="text"
                                       class="form-control"
                                       id="loginMail"
                                       placeholder="Mailadresse"
                                       name="email"
                                       required="required">
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% block page_product_detail_rating_formular_summary %}
                        <div class="form-group">
                            {% block page_product_detail_rating_formular_summary_label %}
                                <label class="form-label" for="loginMail">
                                    {{ "account.loginMailLabel"|trans }} Test
                                </label>
                            {% endblock %}

                            {% block page_product_detail_rating_formular_summary_input %}
                                <input type="text"
                                       class="form-control"
                                       id="loginMail"
                                       placeholder="Zusammenfassung"
                                       name="title"
                                       required="required">
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% block page_product_detail_rating_formular_text %}
                        <div class="form-group">
                            {% block page_product_detail_rating_formular_text_label %}
                                <label class="form-label" for="loginMail">
                                    {{ "account.loginMailLabel"|trans }} Test
                                </label>
                            {% endblock %}

                            {% block page_product_detail_rating_formular_text_input %}
                                <input type="text"
                                       class="form-control"
                                       id="loginMail"
                                       placeholder="Text"
                                       name="content"
                                       required="required">
                            {% endblock %}
                        </div>
                    {% endblock %}
                    {% block page_product_detail_rating_formular_points %}
                        <div class="form-group">
                            {% block page_product_detail_rating_formular_points_label %}
                                <label class="form-label" for="loginMail">
                                    {{ "account.loginMailLabel"|trans }} Test
                                </label>
                            {% endblock %}

                            {% block page_product_detail_rating_formular_points_input %}
                                <input type="text"
                                       class="form-control"
                                       id="loginMail"
                                       placeholder="Punkte"
                                       name="points"
                                       required="required">
                            {% endblock %}
                        </div>
                    {% endblock %}


                    {% block page_product_detail_rating_formular_submit %}
                        <div class="login-submit">
                            <button type="submit" class="btn btn-primary">
                                {{ "account.loginSubmit"|trans }}
                            </button>
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
