{% block page_product_detail_review_container %}
    {#TODO: replace demo login flag with context data#}
	{% if not context.customer %}
		{% set loginStatus = 0 %}
	{% else %}
		{% set loginStatus = 1 %}
	{% endif %}


    {#TODO: replace items per list config value#}
    {% set reviewsPerListPage = 10 %}

    {#TODO: replace current list page value#}
    {% set currentListPage = 1 %}

    {# TODO: replace product rating data #}
    {% set productRating5Count = page.product.ratingMatrix[5] %}
    {% set productRating4Count = page.product.ratingMatrix[4] %}
    {% set productRating3Count = page.product.ratingMatrix[3] %}
    {% set productRating2Count = page.product.ratingMatrix[2] %}
    {% set productRating1Count = page.product.ratingMatrix[1] %}


    {#  Not reviews available demo
    {% set productRating5Count = 0 %}
    {% set productRating4Count = 0 %}
    {% set productRating3Count = 0 %}
    {% set productRating2Count = 0 %}
    {% set productRating1Count = 0 %}
#}


    {# TODO: replace product review count "productReviewCount"#}
    {% set productReviewCount = page.product.reviews|length %}

    {# TODO: replace average product rating "productAvgRating"#}
    {% if productReviewCount > 0 %}
        {% set productAvgRating = page.product.ratingAvg  %}
        {% set productAvgRating = productAvgRating|round(2, 'floor') %}
    {% endif %}

    {# TODO: replace language flag #}
    {% set foreignReviewsCount = 150 %}

    {# TODO: replace product rating percent "productRating%Percent"#}
    {% if productRating5Count > 0 %}
        {% set productRating5Percent = productRating5Count/productReviewCount*100 %}
    {% endif %}
    {% if productRating4Count > 0 %}
        {% set productRating4Percent = productRating4Count/productReviewCount*100 %}
    {% endif %}
    {% if productRating3Count > 0 %}
        {% set productRating3Percent = productRating3Count/productReviewCount*100 %}
    {% endif %}
    {% if productRating2Count > 0 %}
        {% set productRating2Percent = productRating2Count/productReviewCount*100 %}
    {% endif %}
    {% if productRating1Count > 0 %}
        {% set productRating1Percent = productRating1Count/productReviewCount*100 %}
    {% endif %}


    <div class="product-detail-review tab-pane-container">

        {% block page_product_detail_review_asid %}
            <div class="row product-detail-review-content">
                {% block page_product_detail_review_aside %}
                    <div class="col-4">
						{% block page_product_detail_review_widget_container %}
							{% sw_include '@Storefront/page/product-detail/review-widget.html.twig' %}
						{% endblock %}
                    </div>
                {% endblock %}

                {% block page_product_detail_review_main %}
                    <div class="col product-detail-review-main">
                        {% block page_product_detail_review_alert %}
                            {% if ratingSuccess == 1 %}
                                {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
                                    type: "success",
                                    content: "detail.reviewFormSuccessAlert"|trans
                                } %}
                            {% elseif ratingSuccess == -1  %}
                                {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
                                    type: "danger",
                                    content: "detail.reviewFormErrorAlert"|trans
                                } %}
                            {% endif %}
                        {% endblock %}

                        {% block page_product_detail_review_form_container %}
                            <div class="collapse multi-collapse {% if ratingSuccess == -1 %}show{% endif %}" id="review-form">
                                {% if loginStatus == 1 %}
									<div class="product-detail-review-form">
										{% sw_include '@Storefront/page/product-detail/review-form.html.twig' %}
									</div>
                                {% else %}
									<div class="product-detail-review-login">
										{% sw_include '@Storefront/page//product-detail/review-login.html.twig' %}
									</div>
                                {% endif %}
                            </div>
                        {% endblock %}

                        {% block page_product_detail_review_list_container %}
                            <div id="review-list" class="collapse multi-collapse product-detail-review-list {% if ratingSuccess != -1 %}show{% endif %}" itemprop="review-list">
                            	{% if productReviewCount > 0 %}
									{% block page_product_detail_review_list %}
										{% block page_product_detail_review_list_actions %}
											<div class="row product-detail-review-actions">
												<div class="col-md-6 product-detail-review-language">
													{% if foreignReviewsCount > 0 %}
														<div class="custom-control custom-switch">
															<input type="checkbox"
																   class="custom-control-input"
																   id="hideForeignReviews"
																   name="hideForeignReviews"
																   {% if productReviewCount - foreignReviewsCount == 0 %}disabled{% elseif foreignReviewsCount > 0%}checked{% endif %}>
															<label class="custom-control-label" for="hideForeignReviews"><small>{{ "detail.reviewLanguageFilterLabel"|trans }}</small></label>
														</div>
													{% endif %}
												</div>
												<div class="col-md-6 product-detail-review-sortby">
													<div class="float-right">
														<form class="form-inline">
															<label class="my-1 mr-2" for="sortby"><small>{{ "detail.reviewSortLabel"|trans }}</small></label>
															<select class="custom-select custom-select-sm" name="sortby" id="sortby">
																<option selected>{{ "detail.reviewSortTopLabel"|trans }}</option>
																<option value="1">{{ "detail.reviewSortNewLabel"|trans }}</option>
															</select>
														</form>
													</div>
												</div>
											</div>
											{# TODO: fix vertical spacing to hr and replace margin top inline style#}
											<hr style="margin-top:10px; margin-bottom:5px"/>
											{# TODO: calculate reviews in current language in list #}
											{% set listReviewsCount = productReviewCount - foreignReviewsCount %}

											<p class="text-right product-detail-review-counter">
												{% if (listReviewsCount > 1 and listReviewsCount > reviewsPerListPage) %}
													<small><strong>{{ currentListPage }}</strong> - <strong>{{ reviewsPerListPage }}</strong> {{ "detail.reviewCountBefore"|trans }} <strong>{{ listReviewsCount }}</strong> {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount }) }}</small>
												{% else %}
													{#
													!!! Achtung: Wirft Fehler !!!
													<small><strong>{{ listReviewsCount }}</strong> {{ "detail.reviewCountAfter"|trans({'%count%': listReviewsCount }) }}</small>
													#}
												{% endif %}
											</p>
										{% endblock %}

										{% block page_product_detail_review_list_content %}
											{% for review in page.product.reviews %}
												<div class="product-detail-review-list-content">
													{% sw_include '@Storefront/page/product-detail/review-item.html.twig' %}
												</div>
											{% endfor %}
										{% endblock %}

										{% block page_product_detail_review_list_paging %}
											{% set listReviewsCount = productReviewCount - foreignReviewsCount %}
											{% if listReviewsCount > reviewsPerListPage %}
												{# TODO: add paging - maybe through a paging component ;) #}
												<nav class="product-detail-review-list-pagination" aria-label="Review pagination">
													<ul class="pagination justify-content-center">
														<li class="page-item disabled">
															<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
														</li>
														<li class="page-item"><a class="page-link" href="#">1</a></li>
														<li class="page-item"><a class="page-link" href="#">2</a></li>
														<li class="page-item"><a class="page-link" href="#">3</a></li>
														<li class="page-item">
															<a class="page-link" href="#">Next</a>
														</li>
													</ul>
												</nav>
											{% endif %}
										{% endblock %}

									{% endblock %}

								{% else %}
									{% block page_product_detail_review_list_empty %}
										{% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
											type: "info",
											content: "detail.reviewListEmpty"|trans
										} %}
									{% endblock %}

								{% endif %}
                        	</div>
                        {% endblock %}

                    </div>
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}