{% block page_product_detail_review_form %}
    {% if not context.customer %}
        <h1 style="color:#F00">Nicht eingeloggt</h1>
    {% endif %}

    {% set url = path('frontend.detail.review.save', { productId: page.product.id }) %}
    {% if page.product.parentId %}
        {% set url = path('frontend.detail.review.save', { productId: page.product.parentId }) %}
    {% endif %}

    <form class="review-form"
          action="{{ url }}"
          method="post">
        {% block page_product_detail_review_form_details %}
            <div class="form-row">
                {% block page_product_detail_review_form_summary %}
                    <div class="form-group col-md-8 product-detail-review-form-title">
                        <input type="text"
                               class="form-control {% if formViolations.getViolations('/title') %}is-invalid{% endif %}"
                               id="title"
                               placeholder="{{ "detail.reviewFormTitlePlaceholder"|trans }}"
                               name="title"
                               required="required">
                        {% if formViolations.getViolations('/title') %}
                            <div class="invalid-feedback">
                                {% for error in formViolations.getViolations('/title') %}
                                    {{ error.message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
                {# TODO: find final solution for rating element #}
                {% block page_product_detail_review_form_rating %}
                    <div class="form-group col-md-4 product-detail-review-form-rating">
                        <input type="range"
                               class="custom-range"
                               min="1"
                               max="5"
                               step="1"
                               name="rating"
                               required="required"
                               value="5"
                               id="rating">
                        {# Todo: fix styling for form text and replace margin top inline style#}
                        {# TODO: if still wanted text has to change on selection #}
                        <small class="form-text text-muted text-center product-detail-review-form-text" style="margin-top:0px;">
                            {{ "detail.reviewFivePointRatingText"|trans }}
                        </small>
                        {% if formViolations.getViolations('/points') %}
                            <div class="invalid-feedback">
                                {% for error in formViolations.getViolations('/points') %}
                                    {{ error.message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

        {% block page_product_detail_review_form_content %}
            {#Todo: remove customer email input from form#}
            {% set customerMail = 'mail@shopware.swag' %}
            <input type="hidden" id="email" name="email" value="{{ customerMail }}">

            {#Todo: remove customer name input from form#}
            {% set customerName = 'Fabian Schmidt' %}
            <input type="hidden" id="name" name="name" value="{{ customerName }}">

            <div class="form-group product-detail-review-form-content">
                <label for="content">{{ "detail.reviewFormContentLabel"|trans }}</label>
                <textarea class="form-control {% if formViolations.getViolations('/content') %}is-invalid{% endif %}"
                          id="content"
                          name="content"
                          required="required"
                          rows="8"
                ></textarea>
                {% if formViolations.getViolations('/content') %}
                    <div class="ivalid-feedback">
                        {% for error in formViolations.getViolations('/content') %}
                            {{ error.message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block page_product_detail_review_form_submit %}
            <button type="submit" class="btn btn-default">
                {{ "detail.reviewFormSubmitText"|trans }}
            </button>
        {% endblock %}

        {% block page_product_detail_review_form_cancel %}
            <a href="#" class="btn btn-link" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="review-form review-list">
                {{ "detail.reviewFormCancelText"|trans }}
            </a>
        {% endblock %}

    </form>
{% endblock %}