{% block page_product_detail_review_entry %}
	{#TODO: replace placeholders with snippets#}

	{# Todo: replace verification badge #}
	{% set reviewVerifcation = random([1, 0]) %}

	{# Todo: replace like count #}
	{% set reviewLikeCount = random(0, 30) %}

	<div class="product-detail-review-item" itemprop="review" itemscope itemtype="http://schema.org/Review">
		<meta itemprop="datePublished" content="{{ review.createdAt|date }}">
		<meta itemprop="name" content="{{ review.title|e }}">
		<div class="row product-detail-review-item-info">
			<div class="col-md-auto product-detail-review-item-points">
				{% sw_include '@Storefront/component/review/rating.html.twig' with {
					points: review.points
				} %}
			</div>
			<div class="col-md-auto product-detail-review-item-date">
				<p><span class="text-muted"><small>{{ review.createdAt|date }}</small></span></p>
			</div>
			<div class="col text-right product-detail-review-item-verify">
				{% if reviewVerifcation == 1 %}
					<a data-toggle="tooltip" title="Some tooltip text!" ><i class="fas fa-check-circle text-default"></i></a>
				{% endif %}
			</div>
		</div>
		<h4 class="product-detail-review-item-title">
			{{ review.title|e }}
		</h4>
		<p class="product-detail-review-item-content" itemprop="description">
			{{ review.content|e }}
		</p>
		{% if review.comment|e %}
			<div class="product-detail-review-item-comment">
				<blockquote class="blockquote">
					<footer class="blockquote-footer">Our Feedback: {{ review.comment|e }}</footer>
				</blockquote>
			</div>
		{% endif %}
		{% if reviewLikeCount > 0 %}
			<p class="text-right product-detail-review-item-likebox">
				{% if loginStatus == 1 %}
					{# TODO: replace with info from customer data #}
					{% set customerLikeStatus = random(0,1) %}
					{% if customerLikeStatus == 1 %}
						<span>
							<i class="fas fa-heart"></i>&nbsp;
							{# TODO: add like functionality via ajax for logged in customers#}
							<a href="#" data-toggle="tooltip" title="Some tooltip text!" >Helpful</a>&nbsp;
							({{ reviewLikeCount }})
						</span>
					{% else %}
						<span>
							<i class="far fa-heart"></i>&nbsp;
							<a href="/ajax/likeRewiew/id" data-toggle="tooltip" title="Some tooltip text!" >Helpful</a>&nbsp;
							({{ reviewLikeCount }})
						</span>
					{% endif %}
				{% else %}
					<span data-toggle="tooltip" title="Some tooltip text!" >
						<i class="far fa-heart"></i>&nbsp;
						Helpful&nbsp;
						({{ reviewLikeCount }})
					</span>
				{% endif %}
			</p>
		{% endif %}
	</div>
	<hr/>
{% endblock %}