{% block sw_rating_list %}
    <sw-page class="sw-rating-list">

        {% block sw_rating_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar initialSearchType="product_rating"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_rating_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_rating_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_rating_list_smart_bar_header_title_text %}
                            {{ $tc('sw-rating.list.textRatingOverview') }}
                        {% endblock %}

                        {% block sw_rating_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ items.total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        <template slot="content">
            <sw-entity-listing
                    v-if="items"
                    ref="listing"
                    :items="items"
                    :repository="repository"
                    :columns="columns"
                    detailRoute="sw.rating.detail">
                <template slot="column-status" slot-scope="{ item }">
                    <template v-if="item.status">
                        <sw-icon name="default-basic-checkmark-line" color="green"></sw-icon>
                    </template>
                    <template v-else>
                        <sw-icon name="default-basic-x-line" color="red"></sw-icon>
                    </template>
                </template>
                <template slot="column-createdAt" slot-scope="{ item }">
                    {{ item.createdAt | date }}
                </template>
                <template slot="column-user" slot-scope="{ item }">
                    <template v-if="item.customerId">
                            {{ item.customer.firstName }} {{ item.customer.lastName }}
                    </template>
                    <template v-else>
                        {{ item.externalUser }}
                    </template>
                </template>
                <template slot="column-product" slot-scope="{ item }">
                    <template v-if="item.productId">
                        {{ item.product.name }}
                    </template>
                </template>
                <template slot="column-points" slot-scope="{ item }">
                        {{ item.points }}
                        <sw-icon class="sw-rating-list__icon-points"
                                 name="default-basic-shape-star"
                                 size="14">
                        </sw-icon>
                </template>
            </sw-entity-listing>
        </template>
    </sw-page>
{% endblock %}