{% block component_product_box %}
    <div class="card product-box box-{{ layout }}"
         itemscope
         itemtype="https://schema.org/Product">
        {% block component_product_box_content %}
            <div class="card-body">
                {% block component_product_box_badges %}
                    {% sw_include '@Storefront/component/product/widget/badges.html.twig' %}
                {% endblock %}

                {% block component_product_box_rich_snippets_brand %}
                    <meta itemprop="brand"
                          content="{{ product.manufacturer.translated.name }}"/>
                {% endblock %}

                {% block component_product_box_rich_snippets_gtin13 %}
                    {% if product.ean %}
                        <meta itemprop="gtin13"
                              content="{{ product.ean }}"/>
                    {% endif %}
                {% endblock %}

                {% block component_product_box_rich_snippets_mpn %}
                    <meta itemprop="mpn"
                          content="{{ product.productNumber }}"/>
                {% endblock %}
                
                {% block component_product_box_image %}
                    <div class="product-image-wrapper">
                        <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                           title="{{ product.translated.name }}"
                           class="product-image-link">
                            {% if product.cover.media.url %}
                                {% set imgSrc = product.cover.media.url %}
                            {% else %}
                                {% set imgSrc = asset(shopware.theme.general.noPicture) %}
                            {% endif %}
                            <img class="product-image img-fluid"
                                 src="{{ imgSrc }}"
                                 alt="{{ product.cover.media.alt }}">
                        </a>
                    </div>
                {% endblock %}
                
                {% block component_product_box_info %}
                    <div class="product-info">

                        {% block component_product_rating %}
                            <div class="product-info-rating">
                                {% set productRatingAvg = page.product.ratingAverage %}
                                {% set productRatingCount = page.reviews|length %}
                                {% if productRatingCount > 0 %}
                                    <p class="product-detail-reviews">
                                        <span class="product-detail-reviews-stars-block">
                                            <strong class="product-detail-reviews-average">{{ productRatingAvg|round(1) }}</strong>
                                            {% sw_include '@Storefront/component/review/rating.html.twig' with {
                                                points: productRatingAvg,
                                                style: 'text-primary'
                                            } %}
                                        </span>
                                        <a data-toggle="tab" class="product-detail-reviews-link" data-offcanvas-tab="true" href="#review-tab-pane" aria-controls="review-tab-pane">{{ "detail.reviewLinkText"|trans({'%count%': productRatingCount }) }}</a>
                                    </p>
                                {% endif %}
                            </div>
                        {% endblock %}

                        {% block component_product_box_name %}
                            <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                               class="product-name"
                               title="{{ product.translated.name }}">
                                {{ product.translated.name }}
                            </a>
                        {% endblock %}
                        
                        {% block component_product_box_description %}
                            <div class="product-description">
                                {{ product.translated.description }}
                            </div>
                        {% endblock %}
                        
                        {% block component_product_box_price %}
                            {% sw_include '@Storefront/component/product/widget/price-unit.html.twig' %}
                        {% endblock %}
                        
                        {% block component_product_box_action %}
                            {% if shopware.config.listing.allowBuyInListing %}
                                <div class="product-btn">
                                    {% if not product.variantRestrictions %}
                                        {% block component_product_box_action_buy %}
                                            <form action="{{ path('sales-channel-api.checkout.frontend.cart.product.add', {'version': 1, 'id': product.id}) }}"
                                                  method="post"
                                                  class="buy-widget js-add-to-cart">
                                                <button class="btn btn-block buy-widget-submit"
                                                        title="{{ "listing.boxAddProduct"|trans }}">
                                                    {{ "listing.boxAddProduct"|trans }}
                                                </button>
                                            </form>
                                        {% endblock %}
                                    {% else %}
                                        {% block component_product_box_action_detail %}
                                            <a href="{{ path('frontend.detail.page', {'productId': product.id}) }}"
                                               class="btn btn-block btn-light"
                                               title="{{ "listing.boxProductDetails"|trans }}">
                                                {{ "listing.boxProductDetails"|trans }}
                                            </a>
                                        {% endblock %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
